<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="nhibernate.interceptors" type="System.Configuration.NameValueSectionHandler"/>
    <section name="prefixGenerator" type="ZLERP.Id.Config.TablePrefixGenConfigSectionHandler, ZLERP.Id"/>
    <sectionGroup name="erpAuth">
      <section name="loginRequired" type="System.Configuration.NameValueSectionHandler"/>
      <section name="allowAnyone" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="includeHandling" type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling"/>
  </configSections>

  <includeHandling>
    <js path="~/include.mvc/{0}/{1}" compress="true" minify="false" cacheFor="0"/>
    <css path="~/include.mvc/{0}/{1}" compress="true" minify="false" cacheFor="0"/>
  </includeHandling>

  <connectionStrings configSource="XmlConfig\database.config"/>
  <appSettings configSource="XmlConfig\system.config"/>
  <hibernate-configuration configSource="XmlConfig\hibernate-configuration.config" />
  <log4net configSource="XmlConfig\log4net.config" />
  <!--TablePrefixGenerator配置 -->
  <prefixGenerator configSource="XmlConfig\prefixGenerator.config" />

  <!--特殊权限验证设置-->
  <erpAuth>
    <allowAnyone>
      <add key="Actions" value="UploadReport,RefreshCache"/>
      <add key="Controllers" value="account,captcha,Reg,include"/>
    </allowAnyone>
    <loginRequired>
      <add key="Actions" value="SetRun,SetCompleted,GetFirstPinYin,find,get,listdata,combo,ComboByKey,FindDicsTree,FindTree,FindTreeExcludeButton,FindIdentitySettings,GetLastDocByCarId,FindValueItems,FindSettlementItems,GetSendCube,SearchSelect,CheckContractAuditStatus,PumpTypes,ModifyPass,Departments,users,ImportEntitys,UpdateTodayPlan,IsGuLiao,SendModifiedPBToKZ,uploadfiles,WriteMsg,GetMySuitCaseMsg,SendSuitCaseMsg,FindDepartments,GetDynamicCol,SearchByType,FindFormulaInfo,SaveReport,FindFilesInfoByPath,GetAllCompanyForMap"/>
      <add key="Controllers" value="home,attachment"/>
    </loginRequired>
  </erpAuth>

  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="20480" useFullyQualifiedRedirectUrl="false"/>
    <globalization uiCulture="auto"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="ZLERP" loginUrl="~/Account.mvc/LogOn" timeout="120"/>
    </authentication>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <location path="Reports">
    <system.web>
      <httpRuntime maxRequestLength="102400" executionTimeout="2720" />
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEntryService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.71.11.62:8002/EntryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntryService" contract="GPSService.IEntryService" name="BasicHttpBinding_IEntryService"/>
    </client>
  </system.serviceModel>
</configuration>