<?xml version="1.0"?>

<connectionStrings>
  <!--数据库连接配置-->
  <add name="ZLERP" connectionString="Server=.; Database=ERP_test; Uid=sa; Pwd=1234;"/>
  <!--报表相关数据库连接配置-->
  <add name="ERPReports" connectionString="Server=.; Database=ERP_test; Uid=sa; Pwd=123;" providerName="System.Data.SqlClient"/>
</connectionStrings>