<?xml version="1.0"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <reflection-optimizer use="false"/>
  <session-factory>
    <property name="command_timeout">80</property>
    <property name="connection.connection_string_name">ZLERP</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <!--<property name="connection.connection_string">Server=10.71.11.62; Database=ERP3_DEV; Uid=sa; Pwd=123;</property>-->
    <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
    <!--<property name="current_session_context_class">web</property>-->
    <property name="show_sql">true</property>
    <property name="adonet.batch_size">30</property>
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache</property>
    <property name="cache.use_query_cache">false</property>
    <property name="cache.default_expiration">300</property>
    <mapping assembly="ZLERP.Model"/>
    <!--Cache setting-->
    <class-cache class="ZLERP.Model.Dic,ZLERP.Model" usage="read-write"/>
    <class-cache class="ZLERP.Model.SysFunc,ZLERP.Model" usage="read-write"/>
    <class-cache class="ZLERP.Model.ProductLine,ZLERP.Model" usage="read-write"/>
    <class-cache class="ZLERP.Model.SysConfig,ZLERP.Model" usage="read-write"/>
    <class-cache class="ZLERP.Model.User,ZLERP.Model" usage="read-write"/>
    <collection-cache collection="ZLERP.Model.User.SysFuncs" usage="read-write"/>
    <collection-cache collection="ZLERP.Model.Contract.OtherPrice" usage="read-write"/>
    <listener class="ZLERP.NHibernateRepository.NhEventListener,ZLERP.NHibernateRepository" type="pre-insert"/>
  </session-factory>
</hibernate-configuration>