<?xml version="1.0"?>
<log4net debug="false">
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <param name="File" value="Logs/Application.log"/>
    <param name="datePattern" value="yyyy-MM-dd HH:mm"/>
    <param name="AppendToFile" value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %c [%L] - %m%n"/>
    </layout>
  </appender>
  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs/errors/error.log"/>
    <param name="AppendToFile" value="true"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="1000000"/>
    <param name="RollingStyle" value="Size"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %c [%L] - %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs/debug/debug.log"/>
    <param name="AppendToFile" value="true"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <param name="MaximumFileSize" value="1000000"/>
    <param name="RollingStyle" value="Size"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %c [%L] - %m%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="INFO"/>
    </filter>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic"/>
    <to value="zlerp3@qq.com"/>
    <from value="jbzerp@qq.com"/>
    <username value="jbzerp"/>
    <password value="zoomlion"/>
    <subject value="重庆天助悦来站ERP错误日志"/>
    <smtpHost value="smtp.qq.com"/>
    <bufferSize value="512"/>
    <lossy value="false"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger%newline文件名:%F 行号:%L %newline%message%newline%newline%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  <appender name="NHProfAppender" type="HibernatingRhinos.Profiler.Appender.NHibernate.NHProfAppender, &#xA;      HibernatingRhinos.Profiler.Appender.NHibernateLog4Net">
    <sink value="tcp://127.0.0.1:22897"/>
  </appender>
  <logger name="HibernatingRhinos.Profiler.Appender.NHibernate.NHProfAppender.Setup">
    <appender-ref ref="NHProfAppender"/>
  </logger>
  <root>
    <appender-ref ref="ErrorLogFileAppender"/>
    <appender-ref ref="DebugLogFileAppender"/>
    <!--<appender-ref ref="SmtpAppender"/>-->
  </root>
  <logger name="NHibernate">
    <appender-ref ref="TraceAppender"/>
    <level value="WARN"/>
  </logger>
  <logger name="ZLERP.Id.TablePrefixGenerator">
    <!--ID生成器日志不记录DEBUG信息-->
    <level value="INFO"/>
  </logger>
</log4net>