<?xml version="1.0"?>
<!--TablePrefixGenerator配置 -->
<prefixGenerator name="tablePrefixGen1" autoGenTable="AutoGenerateId" prefixColumnName="IDPrefix" valueColumnName="NextValue">
  <tables>
    <add name="Users" prefixPat="[yyyy][MM]-" idLen="3"/>
    <add name="Customer" prefixPat="KHM" idLen="8"/>
    <add name="CarOilPriceSetting" prefixPat="OP" idLen="8"/>
    <add name="ProduceTasks" prefixPat="[yy][MM][dd]" idLen="3"/>
    <add name="Contract" prefixPat="HT" idLen="8"/>
    <add name="Formula" prefixPat="LL" idLen="6"/>
    <add name="CustMixprop" prefixPat="BB" idLen="6"/>
    <add name="ConsMixprop" prefixPat="SG" idLen="8"/>
    <add name="StuffInfo" prefixPat="CL" idLen="4"/>
    <add name="Silo" prefixPat="TC" idLen="4"/>
    <add name="Project" prefixPat="P[yyyy][MM]" idLen="3"/>
    <add name="DispatchList" prefixPat="DJM" idLen="8"/>
    <add name="ShippingDocument" prefixPat="[yyyy][MM][dd]" idLen="4"/>
    <add name="StockPact" prefixPat="SP" idLen="6"/>
    <add name="CheckInfo" prefixPat="PD" idLen="6"/>
    <add name="StockPlan" prefixPat="PL" idLen="6"/>
    <add name="OpenCheck" prefixPat="[yyyy][MM][dd]" idLen="3"/>
    <add name="ProductRecord" prefixPat="HNT[yyyy][MM][dd]" idLen="4"/>
    <add name="Commission" prefixPat="WT[yyyy][MM][dd]" idLen="4"/>
    <add name="ARBill" prefixPat="AR[yy][MM]-" idLen="3"/>
    <add name="APBill" prefixPat="AP[yy][MM]-" idLen="3"/>
    <add name="QualityExam" prefixPat="QE[yy][MM][dd]" idLen="4"/>
    <add name="CEExam" prefixPat="CE[yy][MM][dd]" idLen="4"/>
    <add name="FAExam" prefixPat="FA[yy][MM][dd]" idLen="4"/>
    <add name="CAExam" prefixPat="CA[yy][MM][dd]" idLen="4"/>
    <add name="Settlement" prefixPat="S[yy][MM][dd]-" idLen="3"/>
    <add name="AIR2Exam" prefixPat="AIR2[yy][MM][dd]" idLen="4"/>
    <add name="AIR1Exam" prefixPat="AIR1[yy][MM][dd]" idLen="4"/>
    <add name="ReceiveBill" prefixPat="RB[yy][MM][dd]-" idLen="3"/>
    <add name="PayBill" prefixPat="PB[yy][MM][dd]-" idLen="3"/>
    <add name="ADMExam" prefixPat="ADM[yy][MM][dd]" idLen="4"/>
    <add name="TyreChange" prefixPat="CT[yy][MM][dd]-" idLen="3"/>
    <add name="PartInfo" prefixPat="PJ[yy][MM][dd]-" idLen="3"/>
    <add name="ADM2Exam" prefixPat="PZJ[yy][MM][dd]" idLen="4"/>
    <add name="TyreRepair" prefixPat="WX[yy][MM][dd]-" idLen="3"/>
    <add name="AlkaliReport" prefixPat="AK[yy][MM][dd]" idLen="4"/>
    <add name="PumpWork" prefixPat="PS[yy][MM]" idLen="4"/>
    <add name="PartPlan" prefixPat="PJJH[yy][MM]" idLen="4"/>
    <add name="PartStockPlan" prefixPat="PJCG[yy][MM]" idLen="4"/>
    <add name="PartStockContract" prefixPat="PJCGHT[yy][MM]" idLen="4"/>
    <add name="PartReturn" prefixPat="PJTH[yy][MM]" idLen="4"/>
    <add name="ConStrAssess" prefixPat="As[yy][MM][dd]" idLen="4"/>
    <add name="PartStockContract" prefixPat="PJCGHT[yy][MM][dd]" idLen="4"/>
    <add name="PartIn" prefixPat="JH[yy][MM][dd]" idLen="4"/>
    <add name="PartReturn" prefixPat="TH[yy][MM][dd]" idLen="4"/>
    <add name="PartInventory" prefixPat="PJPD[yy][MM][dd]" idLen="4"/>
    <add name="PartBorrow" prefixPat="GJJY[yy][MM][dd]" idLen="4"/>
    <add name="CarOil" prefixPat="OL[yy][MM]" idLen="4"/>
    <add name="StuffIn" prefixPat="IO[yy][MM]" idLen="4"/>
    <add name="EquipmentItem" prefixPat="SBY" idLen="6"/>
    <add name="StuffSell" prefixPat="SS[yy][MM]" idLen="4"/>
    <add name="CarLend" prefixPat="CaL[yy][MM]" idLen="4"/>
    <add name="CarLendFoot" prefixPat="CLF[yy][MM]" idLen="4"/>
    <add name="MntZl" prefixPat="ZL[yy][MM]" idLen="4"/>
    <add name="RentCarPrice" prefixPat="RCP[yy][MM]" idLen="4"/>
    <add name="EquipTermlyMt" prefixPat="MN[yy][MM]" idLen="4"/>
    <add name="CustSilo" prefixPat="CS[yy][MM]-" idLen="4"/>
    <add name="TaskAss" prefixPat="TA[yy][MM]-" idLen="4"/>
    <add name="CarAss" prefixPat="CA[yy][MM]-" idLen="4"/>
    <add name="CustomerPlan" prefixPat="CP[yy][MM][dd]-" idLen="3"/>
    <add name="EquipMtLy" prefixPat="MF[yy][MM]" idLen="4"/>
    <add name="EquipMtLyReturn" prefixPat="BF[yy][MM]" idLen="4"/>
    <add name="StuffExam" prefixPat="[yyyy][MM]__" idLen="4"/>
    <add name="TranAcc" prefixPat="Tran[yyyy][MM]" idLen="4"/>
    <add name="CarRepair" prefixPat="CR[yyyy][MM]" idLen="4"/>
    <add name="GoodsType" prefixPat="GT" idLen="4"/>
    <add name="GoodsInfo" prefixPat="GI" idLen="4"/>
    <add name="GoodsIn" prefixPat="GIN[yyyy][MM]" idLen="4"/>
    <add name="GoodsInHistory" prefixPat="[yyyy][MM]" idLen="4"/>
    <add name="GoodsOut" prefixPat="GO[yyyy][MM]" idLen="4"/>
    <add name="GoodsBorrow" prefixPat="GB[yyyy][MM]" idLen="4"/>
    <add name="GoodsRevert" prefixPat="GR[yyyy][MM]" idLen="4"/>
    <add name="GoodsInvalidate" prefixPat="GI[yyyy][MM]" idLen="4"/>
    <add name="GoodsCheck" prefixPat="GC[yyyy][MM]" idLen="4"/>
    <add name="RateSet" prefixPat="R[yyyy][MM][dd]" idLen="1"/>
    <add name="ProjectRoute" prefixPat="PR" idLen="6"/>
    <add name="Training" prefixPat="TR" idLen="6"/>
    <add name="SystemMsg" prefixPat="SMI" idLen="10"/>
    <add name="TplManage" prefixPat="Tpl" idLen="6"/>
    <add name="Bank" prefixPat="Bnk" idLen="6"/>
    <add name="ManualProduce" prefixPat="[yyyy][MM]" idLen="4"/>
    <add name="Role" prefixPat="R" idLen="3"/>
    <add name="Lab_AirReport" prefixPat="B[yyyy]04" idLen="4"/>
    <add name="Lab_AirOrigin" prefixPat="J[yyyy]04" idLen="4"/>
    <add name="Lab_Air2Report" prefixPat="B[yyyy]04" idLen="4"/>
    <add name="Lab_Air2Origin" prefixPat="J[yyyy]04" idLen="4"/>
  </tables>
</prefixGenerator>