<?xml version="1.0"?>
<appSettings>
  <add key="Is2012" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--全局缓存时间，单位：分钟-->
  <add key="Cache_TimeoutMinutes" value="5"/>
  <!--附件上传的根路径,暂只支持相对路径-->
  <add key="AttachmentBaseDir" value="~/Content/Files/"/>
  <!--日志文件路径，系统管理－程序运行日志需要此参数-->
  <add key="LogFilePath" value="~/Logs/"/>
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  <!--ActReport upload token-->
  <add key="RequestVerificationToken" value="tf2DurdREQInT694cRGqx18ICbFvWgOXn2T4ZBj8Ga9ZsXXOup6uAvKACU5gV0uJIwbSN63Qq8+0mtRxNyoVuH/WRaA6k8rDrniRnV+ME7v7K6sQ1oK14OvDtIO8MLyd"/>
  <!--数据库备份路径-->
  <add key="DBBackupPath" value="~/Content/DBBak/"/>
  <!--帐套存储目录-->
  <add key="AccountPath" value="~/Content/Account/"/>
  <!--GPS参数-->
  <add key="GpsUserName" value="admin"/>
  <add key="GpsPassword" value="admin"/>
  <add key="TargetPort" value="6767"/>
  <!--控制系统类型-->
  <add key="ControlSystemType" value="ZLERP.JBZKZ12.JBZKZ12Control, ZLERP.JBZKZ12"/>
  <!--<add key="ProductLine_001" value="10.43.25.23"/>-->
  <!--TCP连接超时时间(ms)-->
  <add key="TcpConnectTimedOut" value="1000"/>
  <!--读取TCP服务端返回信息超时时间(ms)-->
  <add key="ReadTimedOut" value="4000"/>
</appSettings>
